<div class="hero-container">
  <div class="top-bar-login-button">
    <button (click)="navigateToWebsite('https://localhost:8060/utente/me')" class="top-right-btn">
      Login
    </button>
  </div>

  <div class="flyers-container">
    <div class="bottom-gradient-zone"></div>
    <div class="flyer">
      <img alt="Flyer 1" height="1627" ngSrc="/assets/flyer1.jpg" width="1160"/>
    </div>
    <div class="flyer">
      <img alt="Flyer 2" height="1683" ngSrc="/assets/flyer2.jpg" width="1200"/>
    </div>
    <div class="flyer">
      <img alt="Flyer 3" height="736" ngSrc="/assets/flyer3.jpg" width="736"/>
    </div>
  </div>
  <app-logo-and-search-bar class="logo-and-search-bar-zone"/>
</div>
