<div class="container-1">
  <div class="evento-box">
    <div class="circle"><i class="fa-solid fa-image fa-2x icon"></i></div>
  </div>

  <div class="form-right">
    <div class="field">
      <p class="intestazione-campi">Titolo</p>
      <input class="input-evento" type="text">
    </div>
    <div class="field">
      <p class="intestazione-campi intestazione-campi-secondari">Data</p>
      <input class="input-evento" type="text">
    </div>
    <div class="field">
      <p class="intestazione-campi intestazione-campi-secondari">Location</p>
      <input class="input-evento" type="text">
    </div>
    <div class="field">
      <p class="intestazione-campi intestazione-campi-secondari">Posti</p>
      <input class="input-evento" type="text">
    </div>
  </div>
</div>
