.login-btn-container {
  position: absolute;
  top: 1%;
  right: 1%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.top-right-btn {
  background: #222121;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 0 2px 2px #222121;
}

.top-right-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px #222121;
  background: #2a2a2a;
}

.top-right-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 2px #222121;
}
