@font-face {
  font-family: 'MuseoModerno', 'Bungee-Inline';
  src: url('assets/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
  src: url('assets/fonts/Bungee_Inline/BungeeInline-Regular.ttf') format('truetype');
  font-display: swap;
}
