html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: MuseoModerno, sans-serif;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

@font-face {
  font-family: 'MuseoModerno', 'Bungee-Inline';
  src: url('assets/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
  src: url('assets/fonts/Bungee_Inline/BungeeInline-Regular.ttf') format('truetype');
  font-display: swap;
}
