.top-bar {
  background: #FEFEFE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 2vw;
  z-index: 1;
}

.top-search-bar {
  resize: vertical;
}

.user-icon, .e20-logo {
  cursor: pointer;
}

.e20-logo {
  height: 24px;
  width: auto;
}
