<div class="homepage">
  <app-background-flyers/>
  <div class="homepage-interaction container-fluid z-1">
    <div class="row row-login">
      <div class="col col-login">
        <div class="login-button">
          @if (!isLoggedIn()) {
            <button (click)="register()" class="login-btn btn">
              Registrati
            </button>
            <button (click)="login()" class="login-btn btn">
              Login
            </button>
          } @else {
            <div class="row user-buttons">
              <div class="col user-avatar">
                <app-avatar />
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="row row-logo">
      <div class="col col-logo">
        <app-site-logo/>
      </div>
    </div>
    <div class="row row-search">
      <div class="col col-search">
        <app-search-bar class="sb"/>
      </div>
    </div>
    @if (isMangager()) {
      <div class="row row-create mt-5 text-center">
        <div class="col col-create">
          <h3>Crea un evento</h3>
        </div>
      </div>
      <div class="row row-create-btn text-center">
        <div class="col col-create-btn">
          <button class="btn create-button" (click)="goToCreaPage()">
            Crea
          </button>
        </div>
      </div>
    }
  </div>
  <app-event-cards/>
</div>
