<app-top-bar />
<div class="event-page-container">
  <div class="event-image">
    <img ngSrc="/assets/flyer5.jpg" alt="Flyer 5" height="693" width="535">
  </div>
  <div class="event-content">
    <div class="event-location">
      <h2>Location</h2>
      <div class="event-location-info">
        <div class="left-side">
          <p>Via di tua mamma</p>
          <p>118</p>
        </div>
        <div class="right-side">
          <p>Napoli (NA)</p>
          <p>88888</p>
        </div>
      </div>
    </div>
    <div class="event-description">
      <h2>Event Description</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum, erat ut aliquam vehicula, dolor nisi
         elementum nulla, in sagittis odio odio non sem. Curabitur dolor dolor, faucibus eleifend enim ac, blandit
         condimentum elit. Donec placerat tortor quis orci vehicula rhoncus. Etiam eget ligula lobortis, tempor risus
         id, scelerisque enim. Cras aliquet sollicitudin est, sed vehicula leo vestibulum facilisis. Praesent turpis
         massa, ultrices vel orci at, congue gravida arcu.
      </p>
    </div>
  </div>
</div>
