.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.event-image-container {
  position: relative;
  width: 100vw;
  height: 500px;
}

.event-main-image {
  width: 100vw;
}

.event-image-row {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.event-image-col {
  padding: 0;
  margin: 0;
}

.ticket {
  position: absolute;
  inset: 0;
  top: 400px;
  background-color: #FAFAFA;
  border-radius: 1rem;
  height: 250px;
  width: 720px;
  border: none;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

.main-ticket-row {
  margin: 0;
  height: 100%;
  width: 100%;
}

.boh {
  height: 100%;
}

.left-ticket-zone {
  align-items: start;
}

.left-ticket-zone,
.right-ticket-zone {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.title-row {
  height: 100%;
  align-items: center;
}

.formatted-date {
  background: linear-gradient(to right, #FF9D47, #C74F00);
  border: none;
  border-radius: 8px;
  padding: 0.2rem;
  color: white;
  user-select: none;
}

.right-ticket-zone {
  justify-content: space-between;
}

.buttons-row {
  align-items: start;
  height: 100%;
}

.edit-col {
  display: flex;
  justify-content: start;
}

.notify-and-save-col {
  display: flex;
  justify-content: end;
}

.available-spots-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.available-spots-num-col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buy-now-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.buy-now-col {
  display: flex;
  justify-content: end;
}

.buy-now-label {
  background: linear-gradient(to right, #FF9D47, #C74F00);
  border: none;
}

.availability {
  font-weight: bold;
  color: #6A3300;
}

.event-and-location-info {
  padding-top: 10rem;
}

.event-location-col {
  display: flex;
  justify-content: center;
  align-items: start;
}

.event-description-col {
  display: flex;
  justify-content: center;
  align-items: start;
}

.action {
  cursor: pointer;
}

.action:hover {
  color: #C74F00;
}

.action:active {
  color: red;
}

.map {
  border: none;
  border-radius: 8px;
  padding-bottom: 1rem;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}
